# Data Cleansing Cheatsheet

**1. Import essential pakcages and dataset**

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sb
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
import math
import pylab
import scipy.stats as stats
%matplotlib inline

In [2]:
cols = [
    'id',
    'host_id',
    'zipcode',
    'property_type',
    'room_type',
    'accommodates',
    'bedrooms',
    'beds',
    'bed_type',
    'price',
    'number_of_reviews',
    'review_scores_rating',
    'host_listing_count',
    'availability_30',
    'minimum_nights',
    'bathrooms'
]
df = pd.read_csv('2_listings.csv', usecols=cols)

In [3]:
df.head()

,id,host_id,zipcode,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,host_listing_count
0,1069266,5867023,10022-4175,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,$160.00,3,21,62,86.0,1
1,1846722,2631556,NaN,Apartment,Entire home/apt,10,1.0,3.0,3.0,Real Bed,$105.00,1,28,22,85.0,2
2,2061725,4601412,11221,Apartment,Private room,2,1.0,1.0,2.0,Real Bed,$58.00,3,4,35,98.0,4
3,44974,198425,10011,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,$185.00,10,1,26,96.0,1
4,4701675,22590025,10011,Apartment,Entire home/apt,2,1.0,1.0,2.0,Real Bed,$195.00,1,30,1,100.0,1

**2. Check for missing data**

Missing value counts for each column

In [4]:
df.isnull().sum()

id                         0
host_id                    0
zipcode                  162
property_type              6
room_type                  0
accommodates               0
bathrooms                463
bedrooms                 140
beds                      98
bed_type                   0
price                      0
minimum_nights             0
availability_30            0
number_of_reviews          0
review_scores_rating    8657
host_listing_count         0
dtype: int64

**3. Remove NaN values from dataframe except review_scores_rating**

In [5]:
original = len(df)
df.dropna(how='any', subset=['zipcode', 'property_type', 'bedrooms', 'beds', 'bathrooms'], inplace=True)
print('Number of NaN values removed:', original - len(df))

Number of NaN values removed: 769

In [6]:
# df.dropna?

**4. Convert formatting for price from $1.00 into a float of 1.00**

In [7]:
df['price'] = (df['price'].str.replace(r'[^-+\d.]', '').astype(float))

A lsit of `pandas.Series.str` functions:
* s.str.split()
* s.str.replace()
* s.str.contains()
* s.str.startwith(), s.str.endwith()
* s.str.slice()
* s.str.slice_replace()
* s.str.get()
* s.str.match()
* s.str.extract(), s.str.extratall()

In [8]:
data = ['1-1', '2-2', '3-3', '4-4', '5-5']
s = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])
s

a    1-1
b    2-2
c    3-3
d    4-4
e    5-5
dtype: object

In [9]:
s.str.split('-')

a    [1, 1]
b    [2, 2]
c    [3, 3]
d    [4, 4]
e    [5, 5]
dtype: object

In [10]:
# s.str.split?

In [11]:
s.str.replace('-', '*')

a    1*1
b    2*2
c    3*3
d    4*4
e    5*5
dtype: object

In [12]:
# s.str.replace

In [13]:
s.str.contains('-', regex=True)

a    True
b    True
c    True
d    True
e    True
dtype: bool

In [14]:
# s.str.contains?

In [15]:
s.str.startswith('1'), s.str.endswith('1')

(a     True
 b    False
 c    False
 d    False
 e    False
 dtype: bool, a     True
 b    False
 c    False
 d    False
 e    False
 dtype: bool)

In [16]:
s.str.slice(start=1, stop=-1)

a    -
b    -
c    -
d    -
e    -
dtype: object

In [17]:
# s.str.slice?

In [18]:
s.str.slice_replace(start=1, stop=-1, repl='*')

a    1*1
b    2*2
c    3*3
d    4*4
e    5*5
dtype: object

In [19]:
s.str.get(1)

a    -
b    -
c    -
d    -
e    -
dtype: object

In [20]:
# s.str.get?

In [21]:
s.str.match('-')

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [22]:
s.str.match(r'\d-\d')

a    True
b    True
c    True
d    True
e    True
dtype: bool

In [23]:
# s.str.match?

In [24]:
s = pd.Series(['a1', 'b2', 'c3'])
s.str.extract(r'([ab])(\d)')

     0    1
0    a    1
1    b    2
2  NaN  NaN

In [25]:
# s.str.extract?

**5. Drop any invalid values**

In [26]:
print ('Number of Accommodates 0:', np.sum(df['accommodates'] == 0))
print ('Number of Bedrooms 0:', np.sum(df['bedrooms'] == 0))
print ('Number of Beds 0:', np.sum(df['beds'] == 0))
print ('Number of Listings with Price $0.00:', np.sum(df['price'] == 0.00))

df = df[df['accommodates'] != 0]
df = df[df['bedrooms'] != 0]
df = df[df['beds'] != 0]
df = df[df['price'] != 0.00]

Number of Accommodates 0: 0
Number of Bedrooms 0: 2321
Number of Beds 0: 0
Number of Listings with Price $0.00: 0

**6. Convert Zipcode to 5 digits**

In [27]:
df['zipcode'] = df['zipcode'].str.replace(r'-\d+', '')

In [28]:
df.head()

,id,host_id,zipcode,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,host_listing_count
0,1069266,5867023,10022,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,160.0,3,21,62,86.0,1
2,2061725,4601412,11221,Apartment,Private room,2,1.0,1.0,2.0,Real Bed,58.0,3,4,35,98.0,4
3,44974,198425,10011,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,185.0,10,1,26,96.0,1
4,4701675,22590025,10011,Apartment,Entire home/apt,2,1.0,1.0,2.0,Real Bed,195.0,1,30,1,100.0,1
5,68914,343302,11231,Apartment,Entire home/apt,6,1.0,2.0,3.0,Real Bed,165.0,2,11,16,96.0,2

In [29]:
print('Number of missing review scores ratings:', len(df['review_scores_rating'][df['review_scores_rating'].isnull()]))

Number of missing review scores ratings: 7712

**7. Convert NaN scores with 0 reviews into 'No Reviews'**

In [30]:
idx_vals = df['review_scores_rating'][df['number_of_reviews'] == 0].index.values.tolist()
df.loc[idx_vals, 'review_scores_rating'] = df['review_scores_rating'][df['number_of_reviews'] == 0].replace(np.nan, 'No Reviews')

In [31]:
df.head(10)

,id,host_id,zipcode,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,host_listing_count
0,1069266,5867023,10022,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,160.0,3,21,62,86,1
2,2061725,4601412,11221,Apartment,Private room,2,1.0,1.0,2.0,Real Bed,58.0,3,4,35,98,4
3,44974,198425,10011,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,185.0,10,1,26,96,1
4,4701675,22590025,10011,Apartment,Entire home/apt,2,1.0,1.0,2.0,Real Bed,195.0,1,30,1,100,1
5,68914,343302,11231,Apartment,Entire home/apt,6,1.0,2.0,3.0,Real Bed,165.0,2,11,16,96,2
6,4832596,4148973,11207,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,80.0,1,29,0,No Reviews,1
7,2562510,13119459,10013,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,120.0,2,5,0,No Reviews,1
8,3005360,4421803,10003,Apartment,Entire home/apt,4,1.0,2.0,2.0,Real Bed,150.0,1,30,14,96,4
9,2431607,4973668,11221,Apartment,Shared room,2,1.0,1.0,1.0,Real Bed,40.0,4,0,10,94,4
11,4833061,24879430,11221,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,75.0,1,2,0,No Reviews,1

In [32]:
df = df[~df['review_scores_rating'].isnull()]

**8. Convert review_scores_rating into different buckets**

In [33]:
def convert_scores_buckets(val):
    if val == 'No Reviews':
        return 'No Reviews'
    elif val >= 95.0:
        return '95-100'
    elif val >= 90.0 and val < 95.0:
        return '90-94'
    elif val >= 85.0 and val < 90.0:
        return '85-89'
    elif val >= 80.0 and val < 85.0:
        return '80-84'
    elif val >= 70.0 and val < 80.0:
        return '70-79'
    elif val >= 60.0 and val < 70.0:
        return '60-69'
    elif val >= 50.0 and val < 60.0:
        return '50-59'
    elif val >= 40.0 and val < 50.0:
        return '40-49'
    elif val >= 30.0 and val < 40.0:
        return '30-39'
    elif val >= 20.0 and val < 30.0:
        return '20-29'
    elif val >= 10.0 and val < 20.0:
        return '10-19'
    elif val < 10.0:
        return '0-9'

In [34]:
df['review_scores_rating_range'] = df['review_scores_rating'].apply(convert_scores_buckets)
print('Unique Values in the Column:', df['review_scores_rating_range'].unique())

Unique Values in the Column: ['85-89' '95-100' 'No Reviews' '90-94' '80-84' '70-79' '40-49' '20-29'
 '60-69' '50-59' '30-39']

In [35]:
df.head(10)

,id,host_id,zipcode,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,host_listing_count,review_scores_rating_range
0,1069266,5867023,10022,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,160.0,3,21,62,86,1,85-89
2,2061725,4601412,11221,Apartment,Private room,2,1.0,1.0,2.0,Real Bed,58.0,3,4,35,98,4,95-100
3,44974,198425,10011,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,185.0,10,1,26,96,1,95-100
4,4701675,22590025,10011,Apartment,Entire home/apt,2,1.0,1.0,2.0,Real Bed,195.0,1,30,1,100,1,95-100
5,68914,343302,11231,Apartment,Entire home/apt,6,1.0,2.0,3.0,Real Bed,165.0,2,11,16,96,2,95-100
6,4832596,4148973,11207,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,80.0,1,29,0,No Reviews,1,No Reviews
7,2562510,13119459,10013,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,120.0,2,5,0,No Reviews,1,No Reviews
8,3005360,4421803,10003,Apartment,Entire home/apt,4,1.0,2.0,2.0,Real Bed,150.0,1,30,14,96,4,95-100
9,2431607,4973668,11221,Apartment,Shared room,2,1.0,1.0,1.0,Real Bed,40.0,4,0,10,94,4,90-94
11,4833061,24879430,11221,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,75.0,1,2,0,No Reviews,1,No Reviews

**9. Encode categorical variables**

In [36]:
property_dummies = pd.get_dummies(df['property_type'])
room_dummies = pd.get_dummies(df['room_type'])
bed_dummies = pd.get_dummies(df['bed_type'])

In [37]:
# pd.get_dummies?

**10. Replace the old categorical columns with the new one-hot encoded columns**

In [38]:
df = pd.concat((df.drop(['property_type', 'room_type', 'bed_type'], axis=1), \
     property_dummies.astype(int), room_dummies.astype(int), bed_dummies.astype(int)), \
     axis=1)

print('Number of Columns:', len(df.columns))

Number of Columns: 40

**11. Move target predictor 'price' to the end of the dataframe**

In [39]:
cols = list(df.columns.values)
idx = cols.index('price')
rearrange_cols = cols[:idx] + cols[idx+1:] + [cols[idx]]
df = df[rearrange_cols]

In [40]:
cols = df.columns.tolist()
cols.insert(-1, cols.pop(cols.index('price')))
df = df.reindex(columns= cols)

**12. Convert non-categorical variables into float and normalize**

In [41]:
def normalize(col):
    mean = np.mean(col)
    std = np.std(col)
    return col.apply(lambda x: (x - mean) / std)

non_cat_vars = ['accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'host_listing_count', 'availability_30', 'minimum_nights', 'bathrooms']
for col in non_cat_vars:
    df[col] = df[col].astype(float)
    df[col] = normalize(df[col])